@charset "UTF-8";

#bg {
	height: 1000px;
	text-align: center;
}

#result {
	margin-top:400px;
	font-size: 50px;
	font-weight: bold;
	display: inline-block;
}

.back {
	font-size: 30px;
	display: inline-block;
}

#home {
	margin-right: 50px;
}